<mat-toolbar>
  <button [routerLink]="['/program', programName]" mat-icon-button>
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
  <span>{{day.name}}</span>
</mat-toolbar>
<mat-card class="wrapper">
  <p class="timer">
    {{time}}
  </p>
  <p class="training-type">
    {{type}}
  </p>
  <mat-progress-bar mode="determinate" [value]="progress"></mat-progress-bar>
  <p *ngIf="inDistance">
    {{distance}}
  </p>
  <p *ngIf="inDistance">
    <button (click)="finishDistance()" mat-raised-button color="primary">Finish distance</button>
  </p>
  <div *ngIf="!inDistance">
    <button mat-raised-button color="primary" (click)="startTimer()" class="run-button" *ngIf="!inProgress">Start
    </button>
    <button mat-raised-button color="primary" (click)="pauseTimer()" class="run-button" *ngIf="inProgress">Pause
    </button>
  </div>
  <div *ngIf="schedule[roundIndex + 1]">
    <p class="next-item">
      <mat-chip-list>
        <mat-chip class="margin-auto">
          Next is&nbsp;
          <span class="upper">{{schedule[roundIndex + 1].type}}</span>&nbsp;
          <span *ngIf="schedule[roundIndex + 1].time > 0" appClockTime [cTime]="schedule[roundIndex + 1].time"></span>
          <span *ngIf="schedule[roundIndex + 1].distance > 0">{{schedule[roundIndex + 1].distance}}m</span>
        </mat-chip>
      </mat-chip-list>
    </p>
  </div>
  <!--<mat-list>-->
  <!--<mat-list-item *ngFor="let timer of day.timing">-->
  <!--<span *ngIf="timer.time > 0" appClockTime [cTime]="timer.time"></span>-->
  <!--<span *ngIf="timer.distance > 0">{{timer.distance}}m</span>-->
  <!--</mat-list-item>-->
  <!--</mat-list>-->
</mat-card>
